/* profile.css */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.profile-preview-container {
    margin-top: 10px;  /* 파일 업로드와 이미지 미리보기 사이 여백 */
    display: flex;
    justify-content: center;  /* 중앙 정렬 */
}

.profile-preview {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 10px; /* 둥근 모서리 */
    object-fit: cover; /* 비율 유지하며 크기 조정 */
    border: 2px solid #ddd; /* 테두리 */
}
.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}
