.sidebar {
    width: 200px !important;;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed; /* 고정 위치 */
    top: 0;
    left: 0;
    z-index: 1; /* sidebar를 header보다 아래로 배치 */
  }

  .sidebar h1 {
    margin-top: 0; 
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    font-size: 2rem;  
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 30px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px; /* 버튼 모서리 둥글게 */
  }
  
  .sidebar ul li:hover {
    background-color: #9dcff7;
    padding: 10px;
    border-radius: 4px; /* 버튼 모서리 둥글게 */
  }